.smallIconFont {
    padding-right: 6px;
    svg {
        width: 1em;
        height: 1em;
    }
}

.iconFont {
    padding-right: 8px;
    svg {
        width: 2em;
        height: 2em;
    }
}

.largeIconFont {
    padding-right: 10px;
    svg {
        width: 3em;
        height: 3em;
    }
}

.sunDay {
    background-image: url("../../static/img/sunDay.jpg");
}

.partlyCloudy {
    background-image: url("../../static/img/partlyCloudy.jpg");
}

.cloudy {
    background-image: url("../../static/img/cloudy.jpg");
}

.overcast {
     background-image: url("../../static/img/overcast.jpg");
}

.breeze {
    background-image: url("../../static/img/breeze.jpg")
}

.strongBreeze {
    background-image: url("../../static/img/strongBreeze.jpg")
}

.storm {
    background-image: url("../../static/img/storm.jpg")
}

.tropicalStorm {
    background-image: url("../../static/img/tropicalStorm.jpg")
}

.haze {
    background-image: url("../../static/img/haze.jpg")
}

.lightRain {
    background-image: url("../../static/img/lightRain.jpg")
}

.rain {
    background-image: url("../../static/img/rain.jpg")
}

.heavyRain {
    background-image: url("../../static/img/heavyRain.jpg")
}

.thunderShower {
    background-image: url("../../static/img/thunderShower.jpg")
}

.freezingRain {
    background-image: url("../../static/img/freezingRain.jpg")
}

.snow {
    background-image: url("../../static/img/snow.jpg")
}

.heavySnow {
    background-image: url("../../static/img/heavySnow.jpg")
}

.floatingDust {
    background-image: url("../../static/img/floatingDust.jpg")
}

.sandStorm {
    background-image: url("../../static/img/sandStorm.jpg")
}

.tornado {
    background-image: url("../../static/img/tornado.jpg")
}

.fog {
    background-image: url("../../static/img/fog.jpg")
}

.hot {
    background-image: url("../../static/img/hot.jpg")
}

.none {
    background-image: url("../../static/img/none.jpg")
}